#adminmenu {
    display:none;
    width:0px;
}

#wphead {
    display:none;
}

#contextual-help-link {
    display:none;
}

#footer {
    display:none;
}

#screen-meta {
    width:0px;
}
